<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--        <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AccountDetail</url-pattern>
        <url-pattern>/AccountList</url-pattern>
        <url-pattern>/AddAccount</url-pattern>
        <url-pattern>/AdminDashBoard</url-pattern>
        <url-pattern>/CustomerList</url-pattern>
        <url-pattern>/ViewCustomer</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>MarketerFilter</filter-name>
        <filter-class>filter.MarketerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MarketerFilter</filter-name>
        <url-pattern>/AddCustomer</url-pattern>
        <url-pattern>/AddNewPost</url-pattern>
        <url-pattern>/AddProduct</url-pattern>
        <url-pattern>/CustomerDetail</url-pattern>
        <url-pattern>/EditPostList</url-pattern>
        <url-pattern>/FeedbackDetails</url-pattern>
        <url-pattern>/InfoDetails</url-pattern>
        <url-pattern>/InfoProduct</url-pattern>
        <url-pattern>/ManageFeedback</url-pattern>
        <url-pattern>/ManageProduct</url-pattern>
        <url-pattern>/ManageSliders</url-pattern>
        <url-pattern>/ManagerCustomerList</url-pattern>
        <url-pattern>/ManagerPostList</url-pattern>
        <url-pattern>/MktDashboard</url-pattern>
        <url-pattern>/SliderDetail</url-pattern>
        <url-pattern>/UpdateCustomer</url-pattern>
        <url-pattern>/ViewPostList</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.CustomerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/AddToCart</url-pattern>
        <url-pattern>/CartContact</url-pattern>
        <url-pattern>/CartDetails</url-pattern>
        <url-pattern>/DeleteCartDetail</url-pattern>
        <url-pattern>/FeedBack</url-pattern>
        <url-pattern>/UpdateCartQuantity</url-pattern>
        <url-pattern>/VnpayReturn</url-pattern>
        <url-pattern>/myOrder</url-pattern>
        <url-pattern>/orderInfo</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SaleFilter</filter-name>
        <filter-class>filter.SaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SaleFilter</filter-name>
        <url-pattern>/OrderDetailOfSale</url-pattern>
        <url-pattern>/OrderListOfSale</url-pattern>
        <url-pattern>/SaleDashBoard</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SaleManagerFilter</filter-name>
        <filter-class>filter.SaleManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SaleManagerFilter</filter-name>
        <url-pattern>/OrderDetailsForSaleManager</url-pattern>
        <url-pattern>/OrderListOfSaleAdmin</url-pattern>
        <url-pattern>/SearchBySale</url-pattern>
        <url-pattern>/SearchByStatus</url-pattern>
        <url-pattern>/SearchByString</url-pattern>
        <url-pattern>/UpdateSale</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>StaffFilter</filter-name>
        <filter-class>filter.StaffFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/OrderDetailForStaff</url-pattern>
        <url-pattern>/OrderListForStaff</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>controller.VerifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>controller.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>controller.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasss</servlet-name>
        <servlet-class>controller.ForgotPasss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfile</servlet-name>
        <servlet-class>controller.ChangeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>controller.BlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastestBlog</servlet-name>
        <servlet-class>controller.LastestBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>controller.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastestBlog</servlet-name>
        <servlet-class>controller.LastestBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatus</servlet-name>
        <servlet-class>controller.OrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBack</servlet-name>
        <servlet-class>controller.customer.FeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>controller.marketer.ManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetails</servlet-name>
        <servlet-class>controller.customer.CartDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartDetail</servlet-name>
        <servlet-class>controller.customer.DeleteCartDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <servlet-class>controller.customer.UpdateCartQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContact</servlet-name>
        <servlet-class>controller.customer.CartContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerPostList</servlet-name>
        <servlet-class>controller.marketer.ManagerPostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCustomerList</servlet-name>
        <servlet-class>controller.marketer.ManagerCustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostList</servlet-name>
        <servlet-class>controller.marketer.ViewPostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostList</servlet-name>
        <servlet-class>controller.marketer.EditPostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>controller.marketer.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myOrder</servlet-name>
        <servlet-class>controller.customer.myOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeedback</servlet-name>
        <servlet-class>controller.marketer.ManageFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetails</servlet-name>
        <servlet-class>controller.marketer.FeedbackDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>controller.customer.VnpayReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoProduct</servlet-name>
        <servlet-class>controller.marketer.InfoProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetail</servlet-name>
        <servlet-class>controller.marketer.CustomerDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>com.vnpay.common.Config</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSliders</servlet-name>
        <servlet-class>controller.marketer.ManageSliders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>controller.marketer.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPost</servlet-name>
        <servlet-class>controller.marketer.AddNewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.customer.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.marketer.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoDetails</servlet-name>
        <servlet-class>controller.marketer.InfoDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>controller.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktDashboard</servlet-name>
        <servlet-class>controller.marketer.MktDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashBoard</servlet-name>
        <servlet-class>controller.admin.AdminDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashBoard</servlet-name>
        <servlet-class>controller.sale.SaleDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetail</servlet-name>
        <servlet-class>controller.admin.AccountDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailOfSale</servlet-name>
        <servlet-class>controller.sale.OrderDetailOfSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsForSaleManager</servlet-name>
        <servlet-class>controller.sale.OrderDetailsForSaleManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListOfSale</servlet-name>
        <servlet-class>controller.sale.OrderListOfSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListOfSaleAdmin</servlet-name>
        <servlet-class>controller.sale.OrderListOfSaleAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBySale</servlet-name>
        <servlet-class>controller.sale.SearchBySale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByStatus</servlet-name>
        <servlet-class>controller.sale.SearchByStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByString</servlet-name>
        <servlet-class>controller.sale.SearchByString</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSale</servlet-name>
        <servlet-class>controller.sale.UpdateSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetail</servlet-name>
        <servlet-class>controller.marketer.SliderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerList</servlet-name>
        <servlet-class>controller.admin.CustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>controller.admin.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>controller.admin.ViewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountList</servlet-name>
        <servlet-class>controller.admin.AccountList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListForStaff</servlet-name>
        <servlet-class>controller.sale.OrderListForStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailForStaff</servlet-name>
        <servlet-class>controller.sale.OrderDetailForStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingList</servlet-name>
        <servlet-class>controller.admin.SettingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatus</servlet-name>
        <servlet-class>controller.sale.UpdateOrderStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastestBlog</servlet-name>
        <url-pattern>/last</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasss</servlet-name>
        <url-pattern>/ForgotPasss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfile</servlet-name>
        <url-pattern>/ChangeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/BlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastestBlog</servlet-name>
        <url-pattern>/LastestBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatus</servlet-name>
        <url-pattern>/OrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBack</servlet-name>
        <url-pattern>/FeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/ManageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetails</servlet-name>
        <url-pattern>/cartDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartDetail</servlet-name>
        <url-pattern>/deleteCartDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <url-pattern>/updateCartQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContact</servlet-name>
        <url-pattern>/cartContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerPostList</servlet-name>
        <url-pattern>/ManagerPostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCustomerList</servlet-name>
        <url-pattern>/ManagerCustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostList</servlet-name>
        <url-pattern>/ViewPostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostList</servlet-name>
        <url-pattern>/EditPostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myOrder</servlet-name>
        <url-pattern>/myOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFeedback</servlet-name>
        <url-pattern>/ManageFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetails</servlet-name>
        <url-pattern>/FeedbackDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnpayReturn</servlet-name>
        <url-pattern>/vnpayreturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoProduct</servlet-name>
        <url-pattern>/InfoProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetail</servlet-name>
        <url-pattern>/CustomerDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/Config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayRefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSliders</servlet-name>
        <url-pattern>/ManageSliders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPost</servlet-name>
        <url-pattern>/AddNewPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoDetails</servlet-name>
        <url-pattern>/InfoDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktDashboard</servlet-name>
        <url-pattern>/MktDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashBoard</servlet-name>
        <url-pattern>/AdminDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashBoard</servlet-name>
        <url-pattern>/SaleDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetail</servlet-name>
        <url-pattern>/AccountDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailOfSale</servlet-name>
        <url-pattern>/OrderDetailOfSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsForSaleManager</servlet-name>
        <url-pattern>/OrderDetailsForSaleManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListOfSale</servlet-name>
        <url-pattern>/OrderListOfSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListOfSaleAdmin</servlet-name>
        <url-pattern>/OrderListOfSaleAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBySale</servlet-name>
        <url-pattern>/SearchBySale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByStatus</servlet-name>
        <url-pattern>/SearchByStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByString</servlet-name>
        <url-pattern>/SearchByString</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSale</servlet-name>
        <url-pattern>/UpdateSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetail</servlet-name>
        <url-pattern>/SliderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerList</servlet-name>
        <url-pattern>/CustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/ViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountList</servlet-name>
        <url-pattern>/AccountList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListForStaff</servlet-name>
        <url-pattern>/OrderListForStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailForStaff</servlet-name>
        <url-pattern>/OrderDetailForStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingList</servlet-name>
        <url-pattern>/SettingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatus</servlet-name>
        <url-pattern>/UpdateOrderStatus</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
